<header>
  <nav class="navbar">
    <a routerLink="/" class="navbar-logo">
      <img src="assets/images/logo.png" alt="Logo">
    </a>
    <ul class="navbar-links">
      <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a></li>
      <li><a routerLink="/movies" routerLinkActive="active">Movies</a></li>
      <li><a routerLink="/tvshows" routerLinkActive="active">TV Shows</a></li>
      <li><a routerLink="/persons" routerLinkActive="active">Celebrities</a></li>
      <li><a routerLink="/genres" routerLinkActive="active">Genres</a></li>
    </ul>
  </nav>

</header>
