<ng-container *ngIf="company">
  <div class="company-profile-container">
    <!-- Company Profile Header -->
    <div class="company-profile-header">
      <img [src]="'https://image.tmdb.org/t/p/w500' + company.logo_path" alt="{{ company.name }}"
        class="company-profile-image" />
      <div class="company-info">
        <h1>{{ company.name }}</h1>
        <h2 class="also-known" *ngIf="company.parent_company">
          Parent Company: <span>{{ company.parent_company }}</span>
        </h2>
        <p class="biography">{{ company.description || 'No description available.' }}</p>
        <p class="birth-info">
          📍 Headquarters: {{ company.headquarters }} | 🌍 Origin: {{ company.origin_country }}
        </p>
        <p class="homepage">
          <a [href]="company.homepage" target="_blank"> Visit Homepage</a>
        </p>
      </div>
    </div>
  </div>

  <h1 style="text-align: center;" *ngIf="cImages">Images Gallery</h1>
  <div class="image-gallery grid" *ngIf="cImages">
    <ng-container *ngFor="let cImage of cImages?.logos">
      <div class="col-12 md:col-4 lg:col-3 image-card">
        <p-image [src]="imagesSizes.medium + cImage.file_path" alt="Image" width="100%" [preview]="true"
          class="gallery-image"></p-image>
      </div>
    </ng-container>
  </div>
</ng-container>