.company-profile-container {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  font-family: 'Arial', sans-serif;
}

.company-profile-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.company-profile-image {
  width: 600px;
  height: 300px;
  object-fit: fill;
  border-radius: 10px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
}

.company-info {
  max-width: 70%;
}

.company-info h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.company-info h2 {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 20px;
}

.company-info h2 span {
  color: #007bff;
  margin-right: 5px;
}

.company-info .biography {
  font-size: 1rem;
  line-height: 1.6;
  color: #444;
  margin-bottom: 20px;
  max-width: 80%;
  white-space: pre-line;
}

.company-info .birth-info {
  font-size: 1rem;
  color: #777;
  margin-bottom: 10px;
}

.company-info .homepage a {
  font-size: 1.1rem;
  font-weight: bold;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.company-info .homepage a:hover {
  color: #0056b3;
}



@media (max-width: 768px) {
  .company-profile-header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .company-profile-image {
    width: 150px;
    height: 150px;
  }

  .company-info {
    max-width: 100%;
  }

  .company-info h1 {
    font-size: 2rem;
  }

  .company-info h2 {
    font-size: 1rem;
  }

  .company-info .biography {
    font-size: 0.9rem;
  }
}
